<!DOCTYPE html> 
<html> 
	<head>  
		<title>Chat App</title>  
		<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
		{% block css %}
		{% endblock %}
		{% block style %}
		{% endblock %}
	</head>
	<body>
		
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="/">Chat App</a>
			<div class="d-flex flex-row-reverse">
				{% if session['username'] %}
					<a class="nav-link" href="/logout" style="color : white;">LOG OUT</a>
					<a class="nav-link" class="" style="color : white;">Logged In As <i>{{ session['username'] }}</i></a>
				{% else %}
					<a class="nav-link" href="/login" style="color : white;">LOG IN</a>
				{% endif %}
			</div>
		</nav>


		{% for category, message in get_flashed_messages(with_categories = true) %}
			{% if category == 'error' %}
				<div class="alert alert-danger mb-0">
					{{ message }}
				</div>
			{% endif %}
			{% if category == 'success' %}
				<div class="alert alert-success mb-0">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}

			
		{% block content %}  
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>     
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		{% block js %}  
		{% endblock %} 
	</body> 
</html> 